﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AcidLabs</h1>
    <p class="lead">Indicadores de natalidad y mortalidad en el mundo.</p>
    <p><a href="https://bitbucket.org/rmontecino/acidlabs" class="btn btn-primary btn-lg">Bitbucket &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Web API "GetCountries"</h2>
        <p>
            Se utilizó esta Web API para retornar el listado todos los países.
        </p>
        <p><a class="btn btn-default" href="http://acidlabsapiservices.azurewebsites.net/api/GetCountries">Probar Web API &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web API "GetIndicators"</h2>
        <p>
            Se utilizó esta Web API para retornar el listado todos los países.
            Se debe ingresar como parámetros de entrada: Código país; Año de inicio búsqueda; Año término búsqueda.
        </p>
        <p><a class="btn btn-default" href="http://acidlabsapiservices.azurewebsites.net/api/GetIndicators/CHL/2007/2013">Probar Web API &raquo;</a></p>
    </div>
</div>